server:
  servlet:
    context-path: /api/v1

spring:
  datasource:
    # Use DB_HOST to switch between local (default) and docker-compose.
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/pharma-aggregator?charSet=UTF8
    username: postgres
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:   # Email configuration
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  # Twilio sms
twilio:
  account-sid: ${ACCOUNT_SID}
  auth-token: ${AUTH_TOKEN}
  verify:
    service-sid: ${SERVICE_SID}

springdoc:
  swagger-ui:
    enabled: true
    try-it-out-enabled: true


logging:
  level:
    org.springframework.mail: DEBUG
    jakarta.mail: DEBUG