spring:
  application:
    name: tiameds-admin
  profiles:
    default: dev

server:
  servlet:
    context-path: /api/v1

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    enabled: true